*{ 
    margin: 0;
    padding: 0;
    
    
}

#logo{
   width: 15rem;
   height: 15rem;
   border-radius: 50%;
   cursor: pointer;
   
}

main , footer, {
background-color: black;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;
}

a:hover{
    background-color: aliceblue;
    color: black;


}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background: rgb(12,1,24);
background: linear-gradient(90deg, rgba(12,1,24,1) 0%, rgba(12,1,24,1) 55%, rgba(34,4,79,1) 100%);


    
    
}

nav{
    display: inherit;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}

